<IfModule mod_rewrite.c>
    RewriteEngine On
    # Set next line to your root - if not in subdir, then just /
    RewriteBase /progressive/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    # Main URL rewriting.
    RewriteRule ^(.*)$ index.php?query=$1 [L,QSA]
</IfModule>
